
<div class="relative flex ">
    <div class="flex flex-col items-end ">
        <div id="dropdownDelayButton"  class="text-white bg-violet-950 hover:bg-indigo-950   font-medium rounded-lg text-xs px-5 py-2.5 text-center inline-flex items-center"><span id="dropdownButtonText">Dropdown Current Text</span><svg id="homeDropdownIcon" class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
          </svg>
        </div>
        <div id="dropdownDelay" class="hidden absolute top-12 right-0 z-20  bg-violet-950 divide-y divide-gray-100 rounded-lg shadow w-44 ">
            <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDelayButton">
              <li>
                <button  class="block w-full px-4 py-2 hover:bg-indigo-800" data-value="Terbaru">Terbaru</button>
              </li>
              <li>
                <button  class="block w-full px-4 py-2 hover:bg-indigo-800 " data-value="Terlama">Terlama</button>
              </li>
              <li>
                <button class="block w-full px-4 py-2 hover:bg-indigo-800 " data-value="Paling Banyak Disukai">Paling Banyak Disukai</button>
              </li>
              <li>
                <button class="block w-full  px-4 py-2 hover:bg-indigo-800 " data-value="Review Terbanyak">Review Terbanyak</button>
              </li>
            </ul>
        </div>
    </div>
</div>


<!-- Dropdown menu -->

