{% load static %}
<div id="carousel-container" class="w-full overflow-hidden relative  h-[20rem] min-h-[20rem] md:h-[24rem] md:min-h-[24rem]   py-2 flex items-center">
    
    <div id="carousel" class="w-full relative flex items-center transition-transform duration-500 py-2  ">
    
    </div>
    <button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-[#460C90] text-white flex justify-center items-center">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-[#460C90] text-white flex justify-center items-center">
        <i class="fas fa-chevron-right"></i>
      </button>
      <div id="carousel-button-container" class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2 z-10">
      </div>
  </div>

  
  