{% load static %}
<div class="w-full overflow-hidden relative  h-[20rem] min-h-[20rem] md:h-[24rem] md:min-h-[24rem]  py-2 flex items-center">
    <img class="w-full h-full absolute top-0 left-0 opacity-30" src="{% static 'img/library-img.jpg' %}" alt="">
    <div id="carousel" class="w-full relative flex items-center transition-transform duration-500 py-2  ">
    
    </div>
    <button id="prev" class="absolute top-1/2 left-0 transform -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-[#460C90] text-white flex justify-center items-center">
        <i class="fas fa-chevron-left"></i>
      </button>
      <button id="next" class="absolute top-1/2 right-0 transform -translate-y-1/2 z-10 w-10 h-10 rounded-full bg-[#460C90] text-white flex justify-center items-center">
        <i class="fas fa-chevron-right"></i>
      </button>
      <div class="absolute bottom-2 left-1/2 transform -translate-x-1/2 flex space-x-2 z-10">
        <button id="indicator-1" class="w-3 h-3 rounded-full bg-gray-400"></button>
        <button id="indicator-2" class="w-3 h-3 rounded-full bg-gray-400"></button>
        <button id="indicator-3" class="w-3 h-3 rounded-full bg-gray-400"></button>
        <button id="indicator-4" class="w-3 h-3 rounded-full bg-gray-400"></button>
        <button id="indicator-5" class="w-3 h-3 rounded-full bg-gray-400"></button>
      </div>
  </div>

  <script>
    const carousel = document.getElementById("carousel");
    const prevButton = document.getElementById("prev");
    const nextButton = document.getElementById("next");
    const indicators = document.querySelectorAll("[id^='indicator-']");
    let currentIndex = 0;
    
    window.addEventListener('load', () => {
        updateIndicators();
    });
    nextButton.addEventListener("click", () => {
      currentIndex++;
      if (currentIndex >= 5) {
        currentIndex = 0;
      }
      updateCarousel();
    });

    carousel.addEventListener("touchstart", (e) => {
    startX = e.touches[0].clientX;
  });

  carousel.addEventListener("touchend", (e) => {
    endX = e.changedTouches[0].clientX;
    if (startX - endX > 50) {
      currentIndex++;
      if (currentIndex >= 5) {
        currentIndex = 0;
      }
      updateCarousel();
    } else if (endX - startX > 50) {
      currentIndex--;
      if (currentIndex < 0) {
        currentIndex = 4;
      }
      updateCarousel();
    }
  });
  indicators.forEach((indicator, index) => {
  indicator.addEventListener("click", () => {
    currentIndex = index;
    updateCarousel();
  });
});

function updateIndicators() {
  indicators.forEach((indicator, index) => {
    if (index === currentIndex) {
      indicator.classList.remove("bg-gray-400");
      indicator.classList.remove("w-3")
      indicator.classList.add("bg-[#460C90]");
      indicator.classList.add("w-6")
    } else {
      indicator.classList.remove("bg-[#460C90]");
      indicator.classList.remove("w-6")
      indicator.classList.add("bg-gray-400");
      indicator.classList.add("w-3")
    }
  });
}
  
    prevButton.addEventListener("click", () => {
      currentIndex--;
      if (currentIndex < 0) {
        currentIndex = 4;
      }
      updateCarousel();
    });
  
    function updateCarousel() {
      const translateX = currentIndex * -100;
      carousel.style.transform = `translateX(${translateX}%)`;
      updateIndicators()
    }
  </script>
  