<div id="navbar" class="fixed z-30 top-0  left-0 flex flex-col items-center w-full ">
    <div class="w-full relative z-40 bg-violet-950 px-4 md:px-8 flex text-xl items-center  py-3 ">
        <h1 class="mr-auto text-white">BOOKPHORIA.</h1>
        <div class=" mx-auto  hidden md:flex text-white text-base lg:text-lg justify-start items-center space-x-4 lg:space-x-8">
            <a href="/">Home</a>
            <a href="/all-books">All Books</a>
            <a href="/profile/">Dashboard</a>
        </div>
        
        <div class="lg:grow flex items-center max-w-[40%] justify-end">
            <div class=" hidden lg:flex grow ">
                <div class="flex grow">
                    <label for="search-dropdown" class="search-dropdown mb-2 text-sm font-medium text-gray-900 sr-only">Books</label>
                    <div class="relative flex items-center justify-center">
                        <button  data-dropdown-toggle="dropdown" class="dropdown-button-xl flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 " type="button">
                            <span  class="books-dropdown-current-value">All</span> <svg  class="books-dropdown-svg w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                        </button>
                        <div id="nav-dropdown-content-data" class="books-dropdown-content hidden absolute top-12 right-0 z-20 ">
                            <ul  class="books-dropdown-values flex flex-col py-2 text-sm text-gray-700  rounded-lg shadow w-44 overflow-y-auto bg-violet-950 dark:text-gray-200 h-[24rem]">
                              <li>
                                <button  class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Terbaru">Terbaru</button>
                              </li>
                              <li>
                                <button  class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Terlama">Terlama</button>
                              </li>
                              <li>
                                <button class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Paling Banyak Disukai">Paling Banyak Disukai</button>
                              </li>
                              <li>
                                <button class="block w-full  px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Review Terbanyak">Review Terbanyak</button>
                              </li>
                            </ul>
                        </div>
                    </div>                
                    <div class="relative  grow">
                        <input type="search" id="pc-search-input" class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-xl border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Books..." required>
                        <button  id="pc-search-answer" class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-indigo-600 rounded-r-lg border-2 border-indigo-600  hover:bg-indigo-800 ">
                            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                            </svg>
                            <span class="sr-only">Search</span>
                        </button>
                    </div>
                </div>
            </div>
            <div  id="mobile-search-button" class="ml-auto lg:hidden text-white flex items-center ">
                    <svg class="w-4 h-4" onclick="toggleMobileNavbar();" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                    <div onclick="openSidebar()" class="md:hidden ml-6 fas fa-bars  text-white">
                    </div>
            </div>
            <div class="hidden md:flex ml-2">
                {% if user.is_authenticated %}
                <div class="ml-2 relative inline-block text-left">
                    <button
                      id="user-dropdown-button"
                      type="button"
                      class="inline-flex items-center justify-center w-full rounded-md shadow-sm px-4 py-2 bg-transparent text-sm font-medium text-white focus:outline-none focus:ring focus:ring-offset-slate-800"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      <img
                        class="w-7 h-7 rounded-full bg-white mr-2"
                        src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture }}{% else %}{{ 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ03Q9ChkabFQ9M3syb-NEQOk9x34zv4pfFQ&usqp=CAU' }}{% endif %}"
                        alt="User Profile"
                      />
                      <svg
                        class="-mr-1 ml-2 h-5 w-5"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20"
                        fill="currentColor"
                        aria-hidden="true"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M6.293 6.293a1 1 0 011.414 0L10 8.586l2.293-2.293a1 1 0 111.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                          clip-rule="evenodd"
                        ></path>
                      </svg>
                    </button>
                  
                    <div
                      class="origin-top-right absolute right-0 mt-4 w-40 rounded-md shadow-lg bg-blue-950 ring-1 ring-black ring-opacity-5 hidden"
                      role="menu"
                      aria-orientation="vertical"
                      aria-labelledby="user-dropdown-button"
                    >
                      <div class="py-1" role="none">
                        <!-- Dropdown options will be added here -->
                        <a href="/view/" class="block w-full text-left px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem">
                            <div class="flex justify-between items-center">
                              <h1>Account</h1>
                              <span class="fas fa-user w-6 h-6"></span> <!-- Ikon Font Awesome untuk akun -->
                            </div>
                          </a>
                          <a href="/logout/" class="block w-full text-left px-4 py-2 text-sm text-gray-300 hover:bg-gray-700 hover:text-white" role="menuitem">
                            <div class="flex justify-between items-center">
                              <h1>Logout</h1>
                              <span class="fas fa-sign-out-alt w-6 h-6"></span> <!-- Ikon Font Awesome untuk logout -->
                            </div>
                          </a>
                      </div>
                    </div>
                  </div>
                {% else %}
                <a href="/login/" class="ml-4 rounded-md text-white flex items-center justify-center text-sm bg-indigo-500 hover:bg-indigo-600 px-3 py-2"><h1>Login</h1></a>
                {% endif %}
            </div>
        </div>

    </div>
    <div id="mobile-search-bar" class="absolute top-12 left-0 flex justify-center items-center w-full py-3 px-4 bg-violet-950  transform -translate-y-96 transition-transform duration-300 ease-in-out">
        <div class="mx-auto flex mt-3  w-[90vw] max-w-[90vw]">
            <div class="flex grow">
                <label for="books-dropdown" class="mb-2 text-sm font-medium text-gray-900 sr-only">Books</label>
                <div class="relative flex items-center justify-center">
                    <button  data-dropdown-toggle="dropdown" class="dropdown-button-xl flex-shrink-0 z-10 inline-flex items-center py-2.5 px-4 text-sm font-medium text-center text-gray-900 bg-gray-100 border border-gray-300 rounded-l-lg hover:bg-gray-200 " type="button">
                        <span  class="books-dropdown-current-value truncate max-w-[5rem]">All</span> <svg  class="books-dropdown-svg w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                    </svg>
                    </button>
                    <div  class="books-dropdown-content hidden absolute top-12 left-0 z-20 ">
                        <ul  class="books-dropdown-values flex flex-col py-2 text-sm   rounded-lg shadow w-44 overflow-y-auto bg-violet-950 text-gray-200 h-[24rem]">
                          <li>
                            <button  class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Terbaru">Terbaru</button>
                          </li>
                          <li>
                            <button  class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Terlama">Terlama</button>
                          </li>
                          <li>
                            <button class="block w-full px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Paling Banyak Disukai">Paling Banyak Disukai</button>
                          </li>
                          <li>
                            <button class="block w-full  px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white" data-value="Review Terbanyak">Review Terbanyak</button>
                          </li>
                        </ul>
                    </div>
                </div>                
                <div class="relative grow">
                    <input type="search" id="mobile-search-input"  class="block p-2.5 w-full z-20 text-sm text-gray-900 bg-gray-50 rounded-r-xl border-l-gray-50 border-l-2 border border-gray-300 focus:ring-blue-500 focus:border-blue-500" placeholder="Search Books..." required>
                    <button id="mobile-search-answer" class="absolute top-0 right-0 p-2.5 text-sm font-medium h-full text-white bg-indigo-600 rounded-r-lg border-2 border-indigo-600  hover:bg-indigo-800 ">
                        <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                        <span class="sr-only">Search</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
    let navmode = () => window.innerWidth < 768 ? 'MOBILE' : window.innerWidth < 1024? 'MEDIUM' : 'LARGE';
    let currentSearchCategory = 'All';
    let categories = ['All'];
    let isBooksDropdownOpen = false;
    let isBooksDropdownMobileOpen = false;
    const bookDropdownButton = document.querySelectorAll(".dropdown-button-xl");
    const bookDropdownContent = document.querySelectorAll(".books-dropdown-content");
    const bookDropdownValues = document.querySelectorAll(".books-dropdown-values");
    const currentBooksDropdownValuesElement = document.querySelectorAll(".books-dropdown-current-value");
    const bookDropdownSVG = document.querySelectorAll('.books-dropdown-svg');
    
    bookDropdownButton.forEach((btn)=>{
        btn.addEventListener('click', ()=>{
            console.log('INFOKAN')
            console.log(bookDropdownSVG)
            toggleBooksDropdown()
          })
    })

    const fetchCategory = async () => {
        try{
            const resJson = await fetch('/get-categories/');
            const res = await resJson.json();
            setCategories(res.categories);
        }catch(error){
            console.log(error)
        }
    }

    const setCategories = (res) => {
        categories = ['All', ...res];
        let innerHTML = ``;
        for(const key of categories){
            const  htmlString = `
            <div  data-value="${key}" name="book-dropdown-values-${key}" class=" block w-full px-4 py-2 hover:bg-indigo-800 " >${key}</div>`;
            innerHTML += htmlString;
        }
        bookDropdownValues.forEach((dropdownValue)=>{
            dropdownValue.innerHTML = innerHTML
        })
        for(const key of categories){
        const selector = "book-dropdown-values-"+key;
        const buttons = document.getElementsByName(selector);
        //console.log(buttons)
        buttons.forEach((btn)=>{
            btn.addEventListener('click', ()=> {
                closeBooksDropdown();
                console.log('hei')
                currentBooksDropdownValuesElement.forEach((ele)=>{
                    ele.textContent = key;
                });
                currentSearchCategory = key
                establishBooksDropdownColor();
            })
        })   
    }
    }

    const establishBooksDropdownColor = () =>{
    try {
        categories.forEach(key =>{
            const selector = "book-dropdown-values-"+key;
          //  console.log(selector)
            const elements = document.getElementsByName(selector);
            if(elements.length > 0){
                elements.forEach((element)=>{
                    if(currentSearchCategory == key){
                        element.classList.add("bg-indigo-800")
                    }
                    else{
                        if(element.classList.contains("bg-indigo-800")){
                            element.classList.remove("bg-indigo-800")
                        }
                    }
                })
                
            }
        })
    } catch (error) {
        console.log(error)
    }
}

    const toggleBooksDropdown = () => {
        const currentMode = navmode();
        if(currentMode == 'MOBILE' || currentMode == 'MEDIUM'){
            if(isBooksDropdownMobileOpen){
                closeBooksDropdown()
            }
            else{
                openBooksDropdown()
            }
        }
        else {
            if(isBooksDropdownOpen){
                closeBooksDropdown()
            }
            else {
                openBooksDropdown()
            }
        }
    }

    const ssetMode = () => {
        if(navmode() == 'MOBILE'){
            bookDropdownContent[0].className = `max-h-[24rem] hidden absolute top-12 right-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44 `;
            bookDropdownSVG[0].classList.remove('rotate-180');
            isBooksDropdownOpen = false;
        }
        else{
            bookDropdownContent[1].className = `max-h-[24rem] hidden absolute top-12 right-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44 `;
            bookDropdownSVG[1].classList.remove('rotate-180');
            isBooksDropdownMobileOpen = false;
        }
    
    }
    ssetMode()
    window.addEventListener('resize', ssetMode )
    window.addEventListener('click', (event)=> {
        if(navmode()== 'MOBILE'){
            if(! bookDropdownButton[1].contains(event.target)){
                return closeBooksDropdown();
            }
        }
        else{
            if(! bookDropdownButton[0].contains(event.target)){
                return closeBooksDropdown();
            }
        }
    })
    const openBooksDropdown = () => {
        console.log('OKEE')
        if(navmode() == 'MOBILE'){
            bookDropdownContent[1].className = `max-h-[24rem] absolute top-14 left-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44 `
            isBooksDropdownMobileOpen = true;
    
        }
        else{
            bookDropdownContent[0].className = `max-h-[24rem] absolute top-14 right-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44`
            isBooksDropdownOpen = true;
        }
        bookDropdownSVG.forEach(svg => {
            if(! svg.classList.contains('rotate-180')){
                svg.classList.add('rotate-180')
               }
        });
    }
    const closeBooksDropdown = () => {
        if(navmode() == 'MOBILE'){
            bookDropdownContent[1].className = `max-h-[24rem] hidden absolute top-12 right-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44 `
            isBooksDropdownMobileOpen = false;
        }
        else{
            bookDropdownContent[0].className = `max-h-[24rem] hidden absolute top-12 right-0 z-20  bg-violet-700 divide-y divide-gray-100 rounded-lg shadow w-44`
            isBooksDropdownOpen = false;
        }
        bookDropdownSVG.forEach(svg => {
            svg.classList.remove('rotate-180');
        });
    }
    

    const spcSearchInput = document.getElementById('pc-search-input');
    const spcSearchAnswerBtn = document.getElementById('pc-search-answer');
    const smobileSearchInput = document.getElementById('mobile-search-input');
    const smobileSearchAnswerBtn = document.getElementById('mobile-search-answer');

    let searchTextInput = '';
    smobileSearchInput.addEventListener('input', (event) => {
        console.log('TERJADI SESUATUUU')
        searchTextInput = event.target.value;
        spcSearchInput.value = searchTextInput;
        });
    spcSearchInput.addEventListener('input', (event) => {
        searchTextInput = event.target.value;
        mobileSearchInput.value = searchTextInput;
        });

    const svalidateSearch = () => {
        if(searchTextInput.trim() == ''){
            return Toastify({
                text: "Maaf teks pencarian masih kosong",
                duration: 3000, // Durasi tampilan toast (dalam milidetik)
                style: {
                background: 'red', // Warna latar belakang untuk pesan sukses
                color: 'white', // Warna teks untuk pesan sukses
                },
                close:true
            }).showToast();
        }
        const searchUrl = `/search-books/${currentSearchCategory}/${searchTextInput}`;
        console.log(searchUrl)
        window.location.href = searchUrl;
    }

    spcSearchAnswerBtn.addEventListener('click', ()=> {
        svalidateSearch()
    })
    smobileSearchAnswerBtn.addEventListener('click', ()=> {
        svalidateSearch()
    })

   

    window.addEventListener('load', async ()=> {
        await fetchCategory();
        establishBooksDropdownColor();
        const userDropdownButton = document.getElementById("user-dropdown-button");
        if(!userDropdownButton){
            return
        }
        const userDropdownMenu = userDropdownButton.nextElementSibling;
       

        userDropdownButton.addEventListener("click", function () {
            console.log('HEllO pujangga')
            if (userDropdownMenu.classList.contains("hidden")) {
            userDropdownMenu.classList.remove("hidden");
            userDropdownButton.setAttribute("aria-expanded", "true");
            } else {
            userDropdownMenu.classList.add("hidden");
            userDropdownButton.setAttribute("aria-expanded", "false");
            }
        });


        document.addEventListener("click", function (event) {
            if (!userDropdownButton.contains(event.target)) {
                // Klik diluar dropdown, tutup dropdown jika dibuka
               try {
                userDropdownMenu.classList.add("hidden");
                userDropdownButton.setAttribute("aria-expanded", "false");
               } catch (error) {
                
               }
            }

            });
    })

</script>