{% load static %}
<div id="sidebar" onclick="closeSidebar();" class=" fixed top-0 left-0 flex w-screen z-40 h-screen transform -translate-x-[100%] transition-transform duration-300 ease-in-out">
    <div onclick="
        event.stopPropagation();
        " class="flex flex-col bg-[#240A48] h-full w-[70%] max-w-[24rem] text-white text-base">
        <div class=" relative flex flex-col rounded-b-full  px-4 py-8" >
          <img src="{% static 'img/books.jpg' %}" class="opacity-10 absolute top-0 left-0 w-full h-full rounded-b-full"/>
      {% if user.is_authenticated %}
      <div class="w-full flex items-center justify-center max-h-[12rem]">
        <div class="flex items-center justify-center w-40 h-40 rounded-full mx-auto bg-gray-300">
          <img class="object-cover w-full h-full rounded-full" src="{% if user.profile.profile_picture %}{{ user.profile.profile_picture }}{% else %}{{ 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ03Q9ChkabFQ9M3syb-NEQOk9x34zv4pfFQ&usqp=CAU' }}{% endif %}" alt="">
        </div>
      </div>
      <div class="flex w-full justify-center mt-4 px-6">
        <h1 class="text-xl line-clamp-1 text-white"> {{user.username}}</h1>
      </div>
      {% else %}
      <h1 class=" z-10 px-4 mt-6 mb-2  text-indigo-600 font-bold  text-center">Untuk pengalaman menjelajahi dunia buku lebih baik</h1>
      <div class="z-10 flex w-full mb-6 justify-center space-x-4 px-4 text-white items-center">
          <a href="/login/"><button class="px-3 py-1 rounded-sm bg-indigo-600 text-base">Login</button></a>
          <h1 class="text-sm font-light ">Atau</h1>
          <a href="/register/"><button class="px-3 py-1 rounded-sm bg-indigo-600 text-base">Register</button></a>
      </div>
      {% endif %}
      </div>
        <div class="w-full bg-opacity-20 mt-12 px-2 py-3 text-white flex  mx-auto max-w-[90%] bg-indigo-900 text-base rounded-md">
          <h1 class="mx-auto">Home</h1>
        </div>
        <div class="w-full bg-opacity-20 mt-3 px-2 py-3 text-white flex  mx-auto max-w-[90%] bg-indigo-900 text-base rounded-md">
            <a href="/all-books/" class="mx-auto">All Books</a>
          </div>
          <div class="w-full bg-opacity-20 mt-3 px-2 py-3 text-white flex  mx-auto max-w-[90%] bg-indigo-900 text-base rounded-md">
            <a href="/profile/" class="mx-auto">Dashboard</a>
          </div>
          <div class="w-full bg-opacity-20 mt-3 px-2 py-3 text-white flex  mx-auto max-w-[90%] bg-indigo-900 text-base rounded-md">
            <h1 href="/view/" class="mx-auto">Account</h1>
          </div>
    </div>
</div>
