{% extends 'base.html' %}

{% block content %}
{% load static %}

<style>
 .col-sm-5.mt-2 {
    float: right;
    margin-bottom: 10px;
  }

  .review-heading {
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .review-heading a {
    color: #007bff;
    text-decoration: none;
  }

  .review-body {
    margin-top: 10px;
  }

  .review-body p {
    line-height: 1.6;
  }

  .review-form {
    background-color: #efefef;
    padding: 20px;
    border-radius: 10px;
  }

  #comment {
    width: 100%;
    max-width: 730px;
    height: 50px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    resize: vertical;
  }

  #upload-image {
    margin-bottom: 10px;
  }

  .mt-0.pt-0 {
    border-top: 1px solid #460c90;
  }


  .input-rate {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
  }

  .text-uppercase {
    text-transform: uppercase;
  }

  .font-weight-bold {
    font-weight: bold;
  }

  #post-btn {
    background-color: #460c90;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  #post-btn:hover {
    background-color: #2c075c;
  }

  .rate-wrapper {
    display: flex;
    align-items: center;
    transform: rotateY(180deg);
  }

  .rate-wrapper input[type="radio"] {
    display: none;
  }

  .rate-wrapper label {
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: rgb(148, 148, 148);
    clip-path: polygon(50% 0%, 61.8% 35%, 98.4% 35%, 68.4% 57.5%, 79.4% 91%, 50% 70%, 20.6% 91%, 31.6% 57.5%, 1.6% 35%, 38.2% 35%);
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .rate-wrapper label:hover,
  .rate-wrapper label:hover ~ label {
    background-color: #460c90;
  }

  .rate-wrapper input[type="radio"]:checked ~ label {
    background-color: rgb(255, 217, 0);
  }

  .rate-wrapper input[type="radio"]:checked ~ label:hover,
  .rate-wrapper input[type="radio"]:checked ~ label:hover ~ label {
    background-color: #460c90;
  }

  .form-group {
    margin-bottom: 2px;
  }
</style>



<script src="{% static 'js/firebase-upload.js' %}">

</script>



<!-- REVIEW SECTION -->
<!-- Reviews List Modal -->
<div class="modal fade" id="reviewsModal" tabindex="-1" aria-labelledby="reviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewsModalLabel">Reviews</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Review Form Modal -->
<div class="modal fade" id="reviewFormModal" tabindex="-1" aria-labelledby="reviewFormModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewFormModalLabel">Add New Review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" id="add-review-form" class="space-y-6" action="#">
          {% csrf_token %}
          <table>
              {{ form.as_table }}
              <tr>
                  <td></td>
                  <td>
                      <input type="submit" value="Add Review" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 hover:cursor-pointer"/>
                      <!-- <button id="submit_new_book" type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Add your book</button> -->
                  </td>
              </tr>
          </table>
      </div>
    </div>
  </div>
</div>

<!-- Trigger buttons -->
<div class="container mt-5">
  <h5 class="text-uppercase font-weight-bold">Reviews</h5>
  <hr class="mt-0 pt-0">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#reviewFormModal">
      Add Review by AJAX
    </button>
</div>

</div>
<h2 class="mt-10 mb-4 text-3xl font-bold mx-8">Recent Reviews All Around The World:</h2>
<div id="reviews-container" class="flex flex-col gap-8 mx-10 mb-10">
  <!-- Daftar ulasan akan ditampilkan di sini -->
  <!-- <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div>
  <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div>
  <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div>
  <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div>
  <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div>
  <div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">
    <p class="opacity-40">Hoshimachi gave <span class="font-bold opacity-100">4.5</span> rating to</p>
    <h5 class="text-xl font-bold">Title</h5>
    <p>yowai mooo</p>
  </div> -->
</div>




<script>

  async function refreshReviews() {
    const reviewsContainer = document.getElementById("reviews-container");
    // reviewsContainer.innerHTML = "";

    const tmp = await fetch("/review/get-review")
    const data = await tmp.json()
    console.log("data")
    console.log(data.reviews)
    data.reviews.forEach(review => {
      console.log(review.user);
      console.log(review.content);
      reviewsContainer.innerHTML += "\n" +
      `<div class="shadow-xl w-full rounded-xl bg-zinc-100 px-4 py-6">` +
        `<p class="opacity-40">${review.user} gave <span class="font-bold opacity-100">${review.rating}</span> star to</p>` +
        `<h5 class="text-xl font-bold">${review.book}</h5>` +
        `<p>${review.content}</p>` +
      `</div>`
    })
  }
  refreshReviews();

  async function addReview() {
    const bookId = bookEle.getAttribute("data-value")
    console.log(bookEle.getAttribute("data-value"), "ini")
    const review = document.getElementById("name").value
    const res = await fetch ("/review/create-review/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json"
      },
      body: JSON.stringify({"review":review, "bookId":bookId})
    })
    const result = await res.json()
    refreshReviews()
    document.getElementById("add-review-form").reset()
    return false;
  }

  document.getElementById("submit_new_review").onclick = addReview

    // let data = {
    //     'imageUrl': '',
    //     'rate': 5,
    //     'comment':''
    // }
    // const setData = async  () => {
    //    const rateInput =  document.querySelector('input[name="rate"]:checked');
    //    const comment = document.getElementById("comment");
    //    if(rateInput.value){
    //     data.rate = parseInt(rateInput.value)
    //    }
    //    data.comment = comment.value.trim()
    //    const res = await uploadImageByElement('upload-image')
    //    data.imageUrl = res
       
    // }
    // const postBtn = document.getElementById('post-btn')
    // postBtn.addEventListener('click', async ()=> {
    //    await  setData()
    //     const resjson = await fetch('/review/create-review/', {
    //         method:'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //         },
    //         body: JSON.stringify(data),
    //     });
    //     const res = await resjson.json()
    //     console.log(res)

    // })
</script>
{% endblock content %}