<!-- edit_profile.html -->
{% extends 'base.html' %}

{% block content %}
    <h1>Edit Profil Pengguna</h1>
    <p id="user-profile-id"style="display: none;" data-id="{{userProfile.pk}}"></p>
    <form method="POST" id="edit_profile">
        {% csrf_token %}
        <div class="form-group">
            <input id="fullname"type="text" name="fullname" class="form-control" placeholder="Full Name">
        </div>
        <div class="form-group">
            <input id="age"type="number" name="age" class="form-control" placeholder="age">
        </div>
    
    <div class="form-group">
        <input id="country" type="text" name="country" class="form-control" placeholder="country">
    </div>
    <div class="form-group">
        <input id="city" type="city" name="city" class="form-control" placeholder="city">
    </div>
    <div class="form-group">
        <input id="phone_number" type="number" name="phone_number" class="form-control" placeholder="phone_number">
    </div>
        <div class="form-group">
            <input type="password" id="password1" name="password1" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
            <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password">
        
        <button class="btn register-btn" type="submit">Simpan Perubahan</button>
    </form>
    <script>
        const dataElement = document.getElementById('user-profile-id')
        const getPreviousData = async () => {
            const resJson = await fetch('/edit_profile_data_json/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json'
                },
                body:JSON.stringify({'id':dataElement.getAttribute("data-id")})
            })
            const res = await resJson.json()
            console.log(res)
            setPrevData(res)
            
        }

        const setPrevData = (res) => {
            const fullNameInput = document.getElementById('fullname')
            const ageInput = document.getElementById('age')
            const countryInput = document.getElementById('country')
            const cityInput = document.getElementById('city')
            const phoneNumber = document.getElementById('phone_number')
            const passwordOne = document.getElementById('password1')
            const passwordTwo = document.getElementById('password2')

            fullNameInput.value = res.fullname
            ageInput.value = parseInt(res.age)
            countryInput.value = res.country
            cityInput.value = res.city
            phoneNumber.value = res.phoneNumber
            passwordOne.value = res.password
            passwordTwo.value = res.password
        }

        window.addEventListener('load', async()=>{
            await getPreviousData()
        })
    </script>
{% endblock content %}
