{% extends 'base.html' %}

{% block meta %}
    <title>Register</title>
{% endblock meta %}

{% block content %}
<div class="register-container">
    <div class="register-form">
        <h1 style="color: #000;">Register</h1>
        <form method="POST" id="register-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="username">
            </div>
            <div class="form-group">
                <input type="text" name="fullname" class="form-control" placeholder="fullname">
            </div>
            <div class="form-group">
                <input type="age" name="age" class="form-control" placeholder="age">
            </div>
        
        <div class="form-group">
            <input type="country" name="country" class="form-control" placeholder="country">
        </div>
        <div class="form-group">
            <input type="city" name="city" class="form-control" placeholder="city">
        </div>
        <div class="form-group">
            <input type="phone_number" name="phone_number" class="form-control" placeholder="phone_number">
        </div>
            <div class="form-group">
                <input type="password" name="password1" class="form-control" placeholder="Password">
            </div>
            <div class="form-group">
                <input type="password" name="password2" class="form-control" placeholder="Confirm Password">
            
            <button class="btn register-btn" type="submit">Daftar</button>
        </form>
    </div>
    <div id="registration-success" class="success-message" style="color: #000;"></div>
    <div id="registration-error" class="error-message" style="color: #000;"></div>
</div>

<style>
    body {
        background-color: #800080; /* Warna latar belakang ungu terong */
        margin: 0;
    }
    .register-container {
        max-width: 400px;
        margin: 0 auto;
        background-color: #fff;
        border: 1px solid #800080;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        text-align: center;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
}


    .register-form h1 {
        color: #fff;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #007BFF;
        border-radius: 5px;
        color: #000;
    }

    .btn.register-btn {
        background-color: #0056b3;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .btn.register-btn:hover {
        background-color: #003c80;
    }

    .success-message {
        color: #28a745;
        text-align: center;
    }

    .error-message {
        color: #dc3545;
        text-align: center;
    }
</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    const redirect = () => {
        window.location.href = '/login/'
    }
    $(document).ready(function() {
        $('#register-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
                url: "{% url 'register' %}",
                type: "POST",
                data: $(this).serialize(),
                success: function(data) {
                    if (data.success) {
                        $('#registration-success').text("Pendaftaran berhasil! Silakan login.");
                        $('#registration-error').empty();
                    } else {
                        $('#registration-error').text(data.message);
                        $('#registration-success').empty();
                    }
                    redirect()
                },
                error: function() {
                    $('#registration-error').text("Terjadi kesalahan saat mendaftar.");
                    $('#registration-success').empty();
                }
            });
        });
    });
</script>
</body>
</html>
{% endblock content %}
