<!DOCTYPE html>
<html>
<head>
    <title>Profil Pengguna</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- Tambahkan Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Selamat datang, {{ user.username }}!</h1>
        
        <h2>Profil Pengguna</h2>
        <div class="row">
            <div class="col-12">
                <p><strong>Nama:</strong> {{user.username}}</p>
                <p><strong>Gambar Profil:</strong> <img src="https://imgv3.fotor.com/images/slider-image/a-man-holding-a-camera-with-image-filter.jpg" width="100" height="100" alt="Gambar Profil"></p>
                <p><strong>Age:</strong> {{userProfile.age}}</p>
                <p><strong>City:</strong> {{userProfile.city}}</p>
                <p><strong>Country:</strong> {{userProfile.country}}</p>
                <p><strong>Phone Number:</strong> {{userProfile.phone_number}}</p>
            </div>
        </div>
        
        <h2>Last Login</h2>
        <p><strong>Last Login:</strong> {{ user.last_login }}</p>

        <h2>Pembaruan Profil</h2>
        <a class="btn btn-primary" href="/edit_profile/">Edit Profil</a>
        <a class="btn btn-secondary" href="{% url 'logout' %}">Logout</a>
    </div>
    
    <script>
        $(document).ready(function() {
            // Menangani klik pada tombol "Suka" buku dengan AJAX
            $(".like-book").click(function() {
                var bookId = $(this).data("book-id");
                var likeButton = $(this);

                $.ajax({
                    url: "{% url 'like_book' 0 %}".replace('0', bookId),
                    type: "POST",
                    dataType: "json",
                    success: function(data) {
                        if (data.liked) {
                            likeButton.text("Sudah Disukai");
                        }
                    },
                    error: function() {
                        alert("Terjadi kesalahan saat menyukai buku.");
                    }
                });
            });
        });
    </script>
    
    <!-- Tambahkan Bootstrap JS (Jika Diperlukan) -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
