{% extends 'base-tailwind.html' %}
{% load static %}
{% block meta %}
    <title>Bookphoria</title>
{% endblock meta %}

{% block content %}
    
    {% include 'partials/raw-navbar.html' with user=user %}
    {% include "partials/sidebar.html"  with user=user %}
    {% include "partials/loading-text.html"  %}
        <div id="homeContent"  class="hidden w-screen max-w-[96vw] min-h-screen  flex flex-col pt-12 md:pt-16 items-center max-w-[1240px] mx-auto">
            {% include "partials/home-carousel.html"  %}
            
            <div class="hidden" id="user-id" data-user-id="{{ user.id|default:'' }}"></div>
            <div class="hidden" id="user-username" data-user-username="{{ user.username|default:'' }}"></div>
            <div class="flex mb-2 mt-4 justify-between  items-center w-full px-2">
                <h1 class="text-lg font-bold">Koleksi Buku</h1>
                {% include "partials/dropdown.html" %}
            </div>
            <div id="top-divider"class="flex  w-full px-2">
                <hr class="px-2 border-b border-[#460C90] w-full opacity-20">
            </div>
    
            <div id="books-card-container" class="grid  md:grid-cols-2 lg:grid-cols-3  gap-y-2 w-full px-1 grid-flow-row auto-rows-max">  
            </div>
            <div id="bottom-divider" class="flex  w-full px-2">
            <hr class="px-2 border-b border-[#460C90] w-full opacity-20">
            </div>
            <div id="all-books-button" class="w-full my-4 flex items-center justify-center">
                <a href="/all-books"><button class="h-12 w-auto px-5 py-1 w-[20rem] max-w-[80vw] text-white text-base bg-violet-950 hover:bg-indigo-950 rounded-md">Lihat Semua Buku</button></a>
            </div>
            </div>
            </div>
        </div>
        
    <script src="{% static 'js/home.js' %}"></script>
    <script type="module" src="{% static 'js/firebase-upload.js' %}"></script> 
{% endblock content %}