{% extends 'base.html' %}
{% load static %}
{% block meta %}
    <title>Bookphoria</title>
{% endblock meta %}

{% block content %}
    
    {% include 'partials/navbar.html' %}
    {% include "partials/sidebar.html"  %}
    {% include "partials/loading-text.html"  %}
        <div id="homeContent" class="hidden w-screen max-w-[96vw] min-h-screen  flex flex-col pt-12 md:pt-16 items-center max-w-[1240px] mx-auto">
            <h1>{{ user }}</h1>
        </div>
    <script src="{% static 'js/profile.js' %}"></script>
    <script type="module" src="{% static 'js/firebase-upload.js' %}"></script> 
{% endblock content %}